body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    height: calc(100dvh - 60px);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}


.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

/* メニュー全体 */
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgba(73, 163, 185, 1.0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}


/* メニューリスト */
.menu ul {
    list-style: none;
    padding: 50px;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    text-align: center;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* メニューを開いたとき */
.menu.open {
    left: 0;
}

/* 画面のメニュー以外の部分だけを暗くする */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999;
}

/* オーバーレイが表示されたとき */
.menu-overlay.show {
    opacity: 1;
    visibility: visible;
}

